@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuisseInt';
  src: url('./fonts/suisseInt.otf');
}

@font-face {
  font-family: 'SuisseIntLight';
  src: url('./fonts/suisseIntl-light.otf');
}

@font-face {
  font-family: 'SofiaPro';
  src: url('./fonts/sofiapro-light.otf');
}

.font-SuisseInt {
  font-family: 'SuisseInt', sans-serif;
}

.font-SuisseIntLight {
  font-family: 'SuisseIntLight', sans-serif;
}

.font-SofiaPro {
  font-family: 'SofiaPro', sans-serif;
}